<% provide(:head_title, t("projects.btc_timestamps.index.head_title", project: h(@project.name)).html_safe) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div>
  <%= link_to image_tag('originStamp_logo.png', width: 70, height: 70), "https://app.originstamp.org/home", target: "_blank" %> <strong><%=t "projects.btc_timestamps.index.originstamp_information" %></strong>
  <br>
  <br>
  <br>
  <p>To create a timestamp with OriginStamp please create a report and click 'Save and timestamp'.</p>
</div>

<div id="content">

  <table class="table timestamp-table" data-project-id="<%= @project.id %>">
    <thead>
      <tr>
        <th><%=t "projects.btc_timestamps.index.sha256" %></th>
        <th><%=t "projects.btc_timestamps.index.timestamp_created_at" %></th>
        <th><%=t "projects.btc_timestamps.index.timestamp_created_by" %></th>
        <th><%=t "projects.btc_timestamps.index.download_pdf" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @project.btc_timestamps.count > 0 %>
        <% @project.btc_timestamps.each do |btc| %>
          <tr
            class="report-row"
            data-id="<%= btc.id %>"
            >
            <td><nobr><a href="https://app.originstamp.org/s/<%= btc.sha256 %>" target="_blank"><%= btc.sha256 %></a></nobr></td>
            <td><%=l btc.created_at, format: :full %></td>
            <td><%= btc.user.full_name %></td>
            <td><a href="<%= project_btc_timestamps_path(@project) + '/' + btc.file_uuid + '/download' %>">
              <span class="glyphicon glyphicon-download-alt"></span>
            </a></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="5"><%=t "projects.btc_timestamps.index.no_timestamps" %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= javascript_include_tag("reports/index") %>
