<% if file_version.blank? and @file_version.present? then file_version = @file_version end %>
<% timestamp = Time.current + 1.year %>
<div class="report-element report-file-version-element"
     data-ts="<%= timestamp.to_i %>"
     data-type="file_version"
     data-id='{ "file_version_id": <%= file_version.id %> }'
     data-scroll-id="<%= file_version.id %>">

  <div class="report-element-header">
    <div class="row">
      <div class="pull-right controls">
        <%= render partial: 'reports/elements/element_controls.html.erb' %>
      </div>
    </div>
  </div>

  <div class="report-element-body">
    <table>
      <thead>
      <tr>
        <th><%= t("protocols.steps.file_name") %></th>
        <th><%= t("protocols.steps.sha256") %></th>
        <th><%= t("protocols.steps.created_at") %></th>
        <th><%= t("protocols.steps.created_by") %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= file_version.original_file_name[0, 30] %></td>
        <td>
          <span><a href="https://app.originstamp.org/s/<%= file_version.sha256[0, 16] %>" target="_blank"><%= file_version.sha256 %></a></span>
        </td>
        <td><%= l file_version.created_at, format: :full %></td>
        <td><%= file_version.user.full_name %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="report-element-children">
    <%= children if (defined? children and children.present?) %>
  </div>
</div>
